body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #d3d3d3;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center; /* 텍스트 중앙 정렬 */
    display: flex; /* 플렉스 박스 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    width: 100%;
}

h1 {
    margin: 0; /* 기본 여백 제거 */
}

h2 {
    margin-top: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-right: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

#searchInput {
    margin: 10px 0;
    padding: 5px;
    width: 100%; /* 전체 너비 차지 */
    box-sizing: border-box; /* 패딩을 포함하여 너비 계산 */
}

a {
    text-decoration: none;
    color: #007BFF; /* 링크 색상 */
}

a:hover {
    text-decoration: underline; /* 링크에 마우스 오버 효과 */
}

#searchInput {
    margin: 10px auto; /* 상하 여백, 좌우는 자동으로 가운데 */
    padding: 5px;
    width: 50%; /* 원하는 너비로 설정 */
    box-sizing: border-box;
    display: block; /* 인풋 요소를 블록 레벨로 설정하여 가운데 정렬 */
}
